/** color variables **/

$lGray: #ddd;
$dGray: #888;
$teal: #00b3b3;

/** font **/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

form {
    label,
    input {
        margin: 5px auto;
        display: block;
    }
    input {
        width: 80%;
        line-height: 50px;
        font-size: 2em;
        padding: 5px;
        border-radius: 2px;
        border: 3px dotted $lGray;
        &:focus {
            border: 3px solid $teal;
        }
    }
    input[name="username"], input[name="email"] {
        text-transform: lowercase;
    }
     button {
        font-size: 1.5em;
        padding: 3%;
        width: 30%;
        background-color: $teal;
        border: none;
        border-radius: 5px;
        margin: 10px auto;
        line-height: 30px;
        color: white;
    }
}

nav {
    text-align: right;
    margin: 10px 0px 60px 0px;
    .nav-link {
        padding: 10px;
        margin: 10px auto;
        color: $dGray;
    }
}

img.main-image {
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
}

main {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

p,
div {
    text-align: center;
    .slogan {
        font-size: 1.5em;
        margin: 10px auto;
        color: $dGray;
        padding: 10px;
        width: 50%;
        line-height: 30px;
    }
}

.btn {
    display: block;
    width: 40%;
    background-color: $teal;
    padding: 3%;
    font-size: 1.5em;
    margin: 15px auto;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.snippet-btn {
    @extend .btn;
    right: -40%;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 30px;
    font-size: 1em;
}

.side-menu {
    background-color: $dGray;
    border: 1px solid $lGray;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding: 15px;
    .list-snippets {
        overflow: hidden;
        height: 70%;
        &:hover {
            overflow: auto;
        }
        .individual-snippets {
            border: 1px solid $lGray;
            padding: 30px;
            border-radius: 3px;
            margin: 5px auto;
            text-align: center;
            font-size: .8em;
            cursor: pointer;
        }
    }
    .top-menu {
        margin-top: 60px;
        input {
            width: 100%;
            border: 1px solid $lGray;
            display: inline-block;
            font-size: 1.2em;
            line-height: 30px;
            padding: 5px;
            border-radius: 3px;
            &:focus {
                border: 3px solid $teal;
            }
        }
    }
    .bottom-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
        .btn {
            display: inline-block;
            font-size: 1em;
            padding: 10px;
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}

.sidebar-button {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    width: 100px;
    opacity: 0.3;
    z-index: 1000;
}

.invisible {
    // display: none;
    width: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.visible {
    width: 40%;
    opacity: 1;
    // margin: 0 auto;
    transition: 0.5s ease-in-out;
}


/** SNIPPET FORM ***/

.snippet-form {
    border-radius: 3px;
    border: 1px solid $lGray;
    margin: auto 10%;
    position: relative;
    padding-top: 5%;
    input {
        margin: 5px auto;
        display: block;
    }
    input {
        width: 80%;
        line-height: 30px;
        font-size: 1.5em;
        padding: 5px;
        border: none;
        &:focus {
            border: none;
            outline: none;
        }
    }
    input[name="description"] {
        font-size: 1.2em;
    }
    .text-box {
        width: 80%;
        height: 300px;
        resize: none;
        border: none;
        font-size: 1.2em;
        &:focus {
            border: none;
            outline: none;
        }
    }
}


.delete-button {
    font-size: 1em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    &:hover {
        background-color: $dGray;
        color: $teal;
    }

}
