/** color variables **/

$lGray: #ddd;
$dGray: #a6a6a6;
$teal: #00b3b3;
$lBlack: #333;

/** font **/

@import url('https://fonts.googleapis.com/css?family=Raleway:300');
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
}

form {
    label,
    input {
        margin: 5px auto;
        display: block;
    }
    input {
        max-width: 80%;
        line-height: 50px;
        font-size: 2em;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid $lGray;
        font-family: 'Raleway', sans-serif;
        &:focus {
            border: 3px solid $teal;
        }
    }
    input[name="username"],
    input[name="email"] {
        text-transform: lowercase;
    }
    button {
        font-size: 1.5em;
        padding: 20px;
        width: 200px;
        background-color: $teal;
        border: none;
        border-radius: 5px;
        margin: 10px auto;
        color: white;
        font-family: 'Raleway', sans-serif;
    }
}

img.main-image {
    width: 60%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px #999;
}

img.main-icon {
    width: 50%;
    margin: 20px auto;
}

main {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
}

p,
div {
    text-align: center;
    .slogan {
        font-size: 1.5em;
        margin: 10px auto;
        color: $dGray;
        padding: 10px;
        width: 50%;
        line-height: 30px;
    }
}

.btn {
    display: block;
    width: 200px;
    background-color: $teal;
    font-family: 'Raleway', sans-serif;
    margin: 15px auto;
    border: none;
    padding: 5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
        color: $dGray;
        background-color: black;
    }
}

.snippet-btn {
    @extend .btn;
    right: -40%;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 30px;
    font-size: 1em;
}

.side-menu {
    background-color: $dGray;
    // border: 1px solid $lGray;
    height: 100%;
    /* 100% Full-height */
    width: 100%;
    /* 0 width - change this with JavaScript */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    .list-snippets {
        overflow: hidden;
        height: 70%;
        &:hover {
            overflow: auto;
        }
        .individual-snippets {
            border-bottom: 1px dotted $lGray;
            padding: 10px;
            font-size: .8em;
            cursor: pointer;
            h1,
            p {
                text-align: left;
            }
            transition-duration: 0.4s;
            &:hover {
                background-color: black;
                color: $teal;
                border: 1px dotted $teal;
            }
        }
    }
    .top-menu {
        margin: 10px;
        input {
            width: 100%;
            border: 1px solid $lGray;
            display: inline-block;
            font-size: 1.2em;
            line-height: 30px;
            padding: 5px;
            border-radius: 3px;
            font-family: 'Raleway', sans-serif;
            &:focus {
                border: 1px solid $teal;
                transition-duration: 0.25s;
            }
        }
    }
    .bottom-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
        .btn {
            display: inline-block;
            font-size: 1em;
            padding: 10px;
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}

.sidebar-button {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background-color: black;
    padding: 10px;
    z-index: 1000;
    cursor: pointer;
    opacity: 1;
    color: black;
    box-shadow: 0 8px 6px -6px #999;
    transition-duration: 0.4s;
}

.open.sidebar-button {
    left: 30%;
    transition-duration: 0.4s;
}

.invisible {
    opacity: 0;
    width: 0%;
    transition-duration: 0.4s;
}

.visible {
    width: 30%;
    opacity: 1;
    transition-duration: 0.4s;
}

.main {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
    transition-duration: 0.4s;
}

.left {
    margin-left: 30%;
    width: 70%;
    transition-duration: 0.4s;
}


/** SNIPPET FORM ***/


.empty-snippets-h1 {
    margin-top: 20%;
}

.snippet-form {
    border-radius: 3px;
    border: 1px solid $lGray;
    height: auto;
    margin: 0px auto;
    width: 80%;
    margin-top: 60px;
    position: relative;
    padding-top: 5%;
    background-color: white;
    input {
        margin: 5px auto;
        display: block;
    }
    input {
        width: 80%;
        line-height: 30px;
        font-size: 1.5em;
        padding: 5px;
        border: none;
        &:focus {
            border: none;
            outline: none;
        }
    }
    input[name="description"] {
        font-size: 1.2em;
    }
    .text-box {
        width: 80%;
        height: 300px;
        resize: none;
        border: none;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        &:focus {
            border: none;
            outline: none;
        }
    }
}

.snippet-menu {
    font-size: 2em;
    height: 50%;
    color: black;
    position: fixed;
    right: 0;
    .snippet-button {
        cursor: pointer;
        opacity: 0.5;
       img {
        width: 40px;
        margin: 10px;
       }
       &:hover {
            opacity: 1;
            transition: 0.4s;
        }
    }
    
}

nav {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 7px 5px -9px $dGray;
    background-color: $lBlack;
}



.main-nav {
    background-color: $lBlack;
    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: $teal;
    }
}

.nav-transparent {
    background-color: $lGray;
    box-shadow: 0 7px 5px -9px $lBlack;
   ul {
    li a {
        color: $lBlack;
    }
   }
}

div .bottom-main-nav {
    @extend .main-nav;
    bottom: 0;
    position: relative;
    background-color: $lGray;
    height: 100px;
    width: 100%;
    p {
        margin: 20px auto;
        padding: 20px;
    }
}

.nav-brand{
    color: $teal !important;
    float: left !important;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.parallax { 
    /* The image used */
    background-image: url("https://github.com/riceball1/simple-code/blob/master/public/code-image.jpg?raw=truecode-image.jpg");
    filter: grayscale(100%);
    // background-color: $teal;
    /* Full height */
    // height: 100%; 
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // color: $teal;
}

.other-parallax {
    margin-top: 30px;
    height:300px;
    background-color:white;
}

div.main-slogan {
    font-size: 2em;
    background-color: $lBlack;
    color: white;
    line-height: 90px;
    padding: 20px;
    width: 100%;
    height: 350px;
}

.bottom-slogan {
    @extend .main-slogan;
    font-size: 2em;
    color: $teal;
    width: 80%;
    margin: 60px auto;

}

.scrolled-nav {
    font-size: 16px;
}

.col-6 {
    color: black;
    font-size: 1.5em;
    margin-top: 10%;
}

div.menu-btn {
    width: 50px;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    opacity: 0.5;
    img {
        width: 50px;
    }
    &:hover {
        opacity: 1;
        transition: 0.4s;
    }
}

.grey-row {
    border-bottom: 1px dotted #999;
}

/** sidebar menu **/

/* Icon 1 adapted from https://codepen.io/designcouch/pen/Atyop */

#nav-icon1{
  width: 50px;
  height: 40px;
  position: relative;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $teal;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

textarea, #myTextArea {
    background-color: #fdfdfd;
    font-family: monospace;
    color: $teal;
    padding: 5px;
    margin: 5px;
}


/** Extra css styling added from suggestions **/

.acct-btn {
    @extend .btn;
   font-size: 2em;
}



@media screen and (max-width: 795px){
    .btn {
        max-width: 50%;
        transition-duration: 0.4s;

    }
    form {
        button {
            width: 40%;
        }
    }

    .main-slogan {
        width: 80%;
    }
    div.main-slogan {
        height: 450px;
        line-height: 1.5em;
        transition-duration: 0.4s;
    }
}
