/** color variables **/

$lGray: #ddd;
$dGray: #888;
$teal: #00b3b3;

/** font **/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

form {
    label,
    input {
        margin: 5px auto;
        display: block;
    }
    input {
        width: 80%;
        line-height: 50px;
        font-size: 2em;
        padding: 5px;
        border-radius: 2px;
        border: 3px dotted $lGray;
        &:focus {
            border: 3px solid $teal;
        }
    }
    input[name="username"],
    input[name="email"] {
        text-transform: lowercase;
    }
    button {
        font-size: 1.5em;
        padding: 20px;
        width: 200px;
        background-color: $teal;
        border: none;
        border-radius: 5px;
        margin: 10px auto;
        color: white;
    }
}

img.main-image {
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px #999;

}

main {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
}

p,
div {
    text-align: center;
    .slogan {
        font-size: 1.5em;
        margin: 10px auto;
        color: $dGray;
        padding: 10px;
        width: 50%;
        line-height: 30px;
    }
}

.btn {
    display: block;
    width: 200px;
    background-color: $teal;
    padding: 20px;
    font-size: 1.5em;
    margin: 15px auto;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
        color: $dGray;
        background-color: black;
    }
}

.snippet-btn {
    @extend .btn;
    right: -40%;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 30px;
    font-size: 1em;
}

.side-menu {
    background-color: $dGray;
    // border: 1px solid $lGray;
    height: 100%;
    /* 100% Full-height */
    width: 100%;
    /* 0 width - change this with JavaScript */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    .list-snippets {
        overflow: hidden;
        height: 70%;
        &:hover {
            overflow: auto;
        }
        .individual-snippets {
            border-bottom: 1px dotted $lGray;
            padding: 10px;
            font-size: .8em;
            cursor: pointer;
            h1,
            p {
                text-align: left;
            }
            transition-duration: 0.4s;
            &:hover {
                background-color: $lGray;
                color: $teal;
                border: 1px dotted $teal;
            }
        }
    }
    .top-menu {
        margin: 60px 10px 10px 10px;
        input {
            width: 100%;
            border: 1px solid $lGray;
            display: inline-block;
            font-size: 1.2em;
            line-height: 30px;
            padding: 5px;
            border-radius: 3px;
            transition-duration: 0.4s;
            &:focus {
                border: 3px solid $teal;
            }
        }
    }
    .bottom-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
        .btn {
            display: inline-block;
            font-size: 1em;
            padding: 10px;
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}

.sidebar-button {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    width: 100px;
    z-index: 1000;
    cursor: pointer;
    background-color: $teal;
    color: black;
    transition-duration: 0.4s;
    &:hover {
        color: $lGray;
        background-color: black;
    }
}

.invisible {
    opacity: 0;
    width: 0%;
    transition-duration: 0.4s;
}

.visible {
    width: 40%;
    opacity: 1;
    transition-duration: 0.4s;
}

.main {
    margin-top: 60px;
    margin-left: 0;
    width: 100%;
    transition-duration: 0.4s;
}

.left {
    margin-left: 50%;
    width: 700px;
    transition-duration: 0.4s;
}


/** SNIPPET FORM ***/

.snippet-form {
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px #999;
    height: auto;
    margin: auto 10%;
    position: relative;
    padding-top: 5%;
    background-color: white;
    input {
        margin: 5px auto;
        display: block;
    }
    input {
        width: 80%;
        line-height: 30px;
        font-size: 1.5em;
        padding: 5px;
        border: none;
        &:focus {
            border: none;
            outline: none;
        }
    }
    input[name="description"] {
        font-size: 1.2em;
    }
    .text-box {
        width: 80%;
        height: 300px;
        resize: none;
        border: none;
        font-size: 1.2em;
        &:focus {
            border: none;
            outline: none;
        }
    }
}

.snippet-menu {
    font-size: 2em;
    height: 50%;
    color: black;
    padding: 10px;
    margin: 0;
    position: fixed;
    right: 0;
    .snippet-button {
        cursor: pointer;
        opacity: 0.5;
       img {
        width: 40px;
       }
       &:hover {
            opacity: 1;
            transition: 0.4s;
        }
    }
    
}

nav {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 8px 6px -6px #999;
}


.main-nav {
    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: $teal;
    }
}

.nav-brand{
    color: $teal !important;
    float: left !important;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.parallax { 
    /* The image used */
    background-image: url("https://github.com/riceball1/simple-code/blob/master/public/code-image.jpg?raw=truecode-image.jpg");
    filter: grayscale(100%);
    // background-color: $teal;
    /* Full height */
    // height: 100%; 
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // color: $teal;
}

.other-parallax {
    margin-top: 30px;
    height:300px;
    background-color:white;
}

.main-slogan {
    font-size: 2em;
    background-color: $lGray;
    line-height: 90px;
    opacity: 0.5;
    margin: 10% auto;
    width: 70%;
}

.scrolled-nav {
    font-size: 16px;
}

.col-6 {
    color: $dGray;
    font-size: 1.5em;
    margin-top: 10%;
}

div.menu-btn {
    width: 50px;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    opacity: 0.5;
    img {
        width: 50px;
    }
    &:hover {
        opacity: 1;
        transition: 0.4s;
    }
}

@media screen and (max-width: 699px){
    .btn {
        width: 40%;
    }
    form {
        button {
            width: 40%;
        }
    }

    .main-slogan {
        width: 80%;
    }
}
