/** color variables **/
$lGray: #ddd;
$dGray: #888;
$teal: #00b3b3;

/** font **/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}
form {
	label, input {
		margin: 5px auto;
		display: block;
	}
	input {
		width: 80%;
		line-height: 30px;
		font-size: 1.5em;
		border-radius: 5px;
		border: 1px solid $teal;
		padding: 5px;
	}
	button {
		font-size: 1.2em;
		padding: 10px;
		width: 30%;
		background-color: $teal;
		border: none;
		border-radius: 5px;
		margin: 10px auto;
		line-height: 30px;
	}
}

.navbar {
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			padding: 5px;
			margin: 20px;
		}
	}
}

img.main-image {
	width: 70%;
	margin: 20px auto;
	border-radius: 5px;
}

main {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
}

p, div {
		text-align: center;
	.slogan {
		font-size: 1.5em;
		margin: 10px auto;
		color: $dGray;
		padding: 10px;
		width: 50%;
		line-height: 30px;
	}
}

.btn {
	display: block;
	width: 200px;
	background-color: $teal;
	padding: 5px;
	font-size: 1.2em;
	margin: 10px auto;
	border: none;
	border-radius: 2px;
}